/* Változók */

:root {
  --bg-light: linear-gradient(116.82deg, #eeeef0 0%, #ccccd8 100%);
  --bg-color-light: #121215;
  --color-light: rgba(18, 18, 21, 1);
  --glow-color-light: #ff2de3;
  --rolunk-text-color-light: #eeeef0;

  --bg-dark: linear-gradient(116.82deg, #121215 0%, #262629 100%);
  --bg-color-dark: #fff;
  --color-dark: rgba(255, 255, 255, 1);
  --glow-color-dark: #ff00de;
  --rolunk-text-color-dark: #000;
}

/* Light style */

body {
  color: var(--color-light);
  background: var(--bg-light);
}

a {
  color: var(--color-light);
}

.v-line {
  border-left: 1px solid var(--color-light);
}

.menu-elements:hover {
  text-shadow: 0 0 5px var(--color-light), 0 0 15px var(--color-light),
    0 0 20px var(--glow-color-light), 0 0 40px var(--glow-color-light),
    0 0 75px var(--glow-color-light);
}
.top-menu-elements:hover {
  text-shadow: 0 0 2px var(--color-light), 0 0 5px var(--color-light),
    0 0 10px var(--glow-color-light), 0 0 15px var(--glow-color-light),
    0 0 25px var(--glow-color-light);
}
.container-top-menu {
  border-color: var(--color-light);
}
.title-weboldalak {
  color: var(--color-light);
}
.link-szolgaltatas {
  color: var(--color-light);
}
.container-rolunk {
  background-color: var(--bg-color-light);
  color: var(--rolunk-text-color-light);
}
/* Dark style */

@media screen and (prefers-color-scheme: dark) {
  body {
    color: var(--color-dark);
    background: var(--bg-dark);
  }

  a {
    color: var(--color-dark);
  }

  .v-line {
    border-left: 1px solid var(--color-dark);
  }

  .menu-elements:hover {
    text-shadow: 0 0 5px var(--color-dark), 0 0 15px var(--color-dark),
      0 0 20px var(--glow-color-dark), 0 0 40px var(--glow-color-dark),
      0 0 75px var(--glow-color-dark);
  }
  .top-menu-elements:hover {
    text-shadow: 0 0 2px var(--color-dark), 0 0 5px var(--color-dark),
      0 0 10px var(--glow-color-dark), 0 0 15px var(--glow-color-dark),
      0 0 25px var(--glow-color-dark);
  }
  .container-top-menu {
    border-color: var(--color-dark);
  }
  .title-weboldalak {
    color: var(--color-dark);
  }
  .link-szolgaltatas {
    color: var(--color-dark);
  }
  .container-rolunk {
    background-color: var(--bg-color-dark);
    color: var(--rolunk-text-color-dark);
  }
}
/* Layout */
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.container {
  display: flex;
}
.container-center {
  align-items: center;
  justify-content: center;
}
.container-fullpage {
  height: 100vh;
  width: 100vw;
}
.container-header {
  height: 219px;
  width: 902px;
  justify-content: space-between;
}
.container-top-menu {
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 80px;
  padding-left: 32px;
  padding-right: 32px;
  border-bottom: 1px solid;
}
.container-menu-elements {
  min-width: 380px;
  height: 219px;
  margin-left: 15px;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 54px;
  font-weight: 100;
  gap: 15px;
}
.container-top-menu-elements {
  font-size: 24px;
  font-weight: 400;
  gap: 50px;
}
.container-weboldalak {
  margin: 71px 80px 80px 80px;
  height: 471px;
}
.v-line {
  height: 219px;
}
.menu-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 15px;
  text-align: left;
}
.menu-elements {
  transition: all 0.5s ease-in;
}
.menu-elements:hover {
  transition: all 1s ease-out;
  margin-left: -15px;
}
.top-menu-title {
  font-size: 40px;
  font-weight: 100;
  text-align: left;
}
.top-menu-elements {
  transition: all 0.5s ease-in;
  opacity: 0.75;
}
.top-menu-elements:hover {
  transition: all 1s ease-out;
  opacity: 1;
}
.top-menu-active {
  font-weight: 700;
}
.title-weboldalak {
  font-size: 120px;
  width: 727px;
  height: 282px;
  font-weight: 400;
  margin: 94px 0px 0px -184px;
  align-items: center;
  line-height: normal;
}

.link-szolgaltatas {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  align-self: flex-end;
  text-wrap: nowrap;
}
@keyframes linkAnim {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -10px;
  }
  100% {
    margin-left: 0px;
  }
}
.link-szolgaltatas:hover {
  animation: linkAnim 0.7s ease-in-out infinite;
}

.container-rolunk {
  display: inline-flex;
  padding: 80px;
  align-items: center;
  gap: 80px;
}
.container-rolunk-boxes {
  gap: 73px;
}
.box-rolunk {
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 384px;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.box-rolunk img {
  width: 168px;
  height: 168px;
}
.box-rolunk-footer {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
