/* Változók */

:root {
  --bg-light: linear-gradient(116.82deg, #eeeef0 0%, #ccccd8 100%);
  --color-light: rgba(18, 18, 21, 1);
  --glow-color-light: #ff2de3;

  --bg-dark: linear-gradient(116.82deg, #121215 0%, #262629 100%);
  --color-dark: rgba(255, 255, 255, 1);
  --glow-color-dark: #ff00de;
}

/* Light téma */

body {
  color: var(--color-light);
  background: var(--bg-light);
}

a {
  color: var(--color-light);
}

.v-line {
  border-left: 1px solid var(--color-light);
}

.menu-elements:hover {
  text-shadow: 0 0 5px var(--color-light), 0 0 15px var(--color-light),
    0 0 20px var(--glow-color-light), 0 0 40px var(--glow-color-light),
    0 0 75px var(--glow-color-light);
}
.top-menu-elements:hover {
  text-shadow: 0 0 2px var(--color-light), 0 0 5px var(--color-light),
    0 0 10px var(--glow-color-light), 0 0 15px var(--glow-color-light),
    0 0 25px var(--glow-color-light);
}
.container-top-menu {
  border-color: var(--color-light);
}

/* Dark téma */

@media screen and (prefers-color-scheme: dark) {
  body {
    color: var(--color-dark);
    background: var(--bg-dark);
  }

  a {
    color: var(--color-dark);
  }

  .v-line {
    border-left: 1px solid var(--color-dark);
  }

  .menu-elements:hover {
    text-shadow: 0 0 5px var(--color-dark), 0 0 15px var(--color-dark),
      0 0 20px var(--glow-color-dark), 0 0 40px var(--glow-color-dark),
      0 0 75px var(--glow-color-dark);
  }
  .top-menu-elements:hover {
    text-shadow: 0 0 2px var(--color-dark), 0 0 5px var(--color-dark),
      0 0 10px var(--glow-color-dark), 0 0 15px var(--glow-color-dark),
      0 0 25px var(--glow-color-dark);
  }
  .container-top-menu {
    border-color: var(--color-dark);
  }
}
/* Formázás */
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  display: flex;
}
.container-center {
  align-items: center;
  justify-content: center;
}
.container-fullpage {
  height: 100vh;
  width: 100vw;
}
.container-header {
  height: 219px;
  width: 902px;
  justify-content: space-between;
}
.container-top-menu {
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 80px;
  padding-left: 32px;
  padding-right: 32px;
  border-bottom: 1px solid;
}
.container-menu-elements {
  min-width: 380px; /* animáció miatt */
  height: 219px;
  margin-left: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 54px;
  font-weight: 100;
  letter-spacing: 0px;
  text-align: left;
}
.container-top-menu-elements {
  font-size: 24px;
  font-weight: 400;
  gap: 50px;
}
.v-line {
  height: 219px;
}
.menu-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 15px;
  text-align: left;
}
.menu-elements {
  transition: all 0.5s ease-in;
}
.menu-elements:hover {
  transition: all 1s ease-out;
  margin-left: -15px;
}
.top-menu-title {
  font-size: 40px;
  font-weight: 100;
  text-align: left;
}
.top-menu-elements {
  transition: all 0.5s ease-in;
  opacity: 0.75;
}
.top-menu-elements:hover {
  transition: all 1s ease-out;
  opacity: 1;
}
.top-menu-active {
  font-weight: 700;
}
